html{
    scroll-behavior:smooth;
  }
  
  body{
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color: #bababa;
  }
  
  header{
    height:100vh;
    background-position: center;
    color: #fff;
    text-align:center;
  }
  
  header nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:20px;
    color:#000;
    background-color: #333333;
  }
  
  header nav a{
    color:#bababa;
    text-decoration:none;
    margin-right:10px;
  }
  
  
  header nav a:hover {
    color:#fff;
    border-bottom: #919191 solid 1px;
  }