  header .principal h4{
    align-items: center;
  }
  
.principal .pieces img {
  width: 5vw;
  height: auto;
  margin: auto;
  margin-left: 0px;
}

.principal .item {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.principal .pieces {
  display: flex;
  flex-wrap: wrap;
}

.principal .item {
  display: flex;
  flex-wrap: wrap;
}

.principal .text {
  display: block;
  text-align: left;
  margin: auto;
  margin-left: 0px;
  padding: 0px;
}

.principal .text p {
  margin: 0px;
  padding-left: 3px; /* Pour que les icones ne touches pas les textes des items */
}

p#category { /* Pour les titres entre les catégories d'items (ex : <tr><td colspan="2"><p id="category">Équipements :</p></td></tr>) */
    text-align: start;
    padding-left: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
}

header:not([id="main"]) {
  display: block;
}

tr {
  vertical-align: baseline; /* Pour aligner vers le haut les items dans la liste des qr codes (items de tailles différentes) */
}

@media screen and (max-width: 1100px) and (min-width: 750px) {
  .principal .pieces img {
    width: 5vw;
  }
}

@media screen and (max-width: 750px) and (min-width: 533px) {
  .principal .pieces img {
    width: 7vw;
  }
  p {
    font-size: 3vw;
  }
  a {
    font-size: 3vw;
  }
}
@media screen and (max-width: 533px) and (min-width: 376px) {
  .principal .pieces img {
    width: 8vw;
  }
  p {
    font-size: 3vw;
  }
  a {
    font-size: 3vw;
  }
  h1 {
    font-size: 8vw;
  }
  .principal .item {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
  }
  p#category {
    padding-left: 5px;
  }
}

@media screen and (max-width: 376px) {
  .principal .pieces img {
    width: 8vw;
  }
  p {
    font-size: 3vw;
  }
  a {
    font-size: 3vw;
  }
  h1 {
    font-size: 8vw;
  }
  .principal .item {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
  }
  p#category {
    padding-left: 5px;
  }
}